* {
  font-family: sans-serif;
}
body {
	z-index: 2;
	position: relative;
	overflow: auto;
	height: 100%;
	background-image: url("../img/bg_1.jpg");
	background-attachment: fixed;
	background-size: 100%;
	-webkit-transition: transform .7s ease-in-out;
	-moz-transition: transform .7s ease-in-out;
	-ms-transition: transform .7s ease-in-out;
	-o-transition: transform .7s ease-in-out;
	transition: transform .7s ease-in-out;
  }
.cool-menu {
	 -moz-osx-font-smoothing: grayscale;
	 -webkit-font-smoothing: antialiased;
	 padding-left: 50px;
	 padding-right: 50px;
	 font-family: 'Roboto', 'sans-serif';
	 font-size: 14px;
	 width: 100%;
	 list-style: none;
	 margin-top: 20px;
}
.cool-menu a{
	color: black;
	text-transform: uppercase;
	font-weight: 700;
	border-right: 2px solid #000;
	padding-left: 10px;
	padding-right: 10px;
}
.cool-menu:hover a{
	background-color: rgba(0,0,0, 0.3);
}
.passport {
	width: fit-content;
  	margin-top: 3%;
	border: 5px solid white;
 	border-radius: 50%;
}
.cool-titles {
  	width: 30%;
  	color: black;
	margin-top: 2%;
	background-color: rgba(0,0,0, 0.3);
}

.header-big {
	margin: 2%;
    padding: 5px;
	color: white;
	font-size: 25px;
	font-family: 'Lato', sans-serif;
}

.header-small {
	margin: 2%;
	color: white;
    padding: 5px;
	font-size: 15px;
	font-family: 'Lato', sans-serif;
}
.blog-card {
	width: 50%;
	padding: 20px;
	margin: 5%;
	font-style: italic;
	background-color: rgba(255,255,255, 0.8);
	font-family: Courier, monospace;
  }
.blog-card-text {
	font-size: 20px;
	margin-bottom: 5px;
	font-family: 'Source Code Pro'; 
	font-style: italic;
	margin-bottom: 20px;
  }
.blog-content{
	color: white;
	background-color: rgba(92,78,71, 0.8);
	width: 80%;
	font-family: 'Lato', sans-serif;
	font-style: italic;
}
.blog-content li{
	padding-right: 107px;
	padding-bottom: 7px;
}
.cool-button {
	width: 75%;
	margin: 0px;
	border: none;
	height: 50px;
	font-size: 20px;
	font-style: bold;
	cursor: pointer;
	background-color: #b8d456;
	padding: 2px 10px 2px 10px;
	font-family: sans-serif;
	font-size: 20px;
  }
.about-card {
	background-color: rgba(92,78,71, 0.8);
	color: white;
	width: 80%;
	padding: 20px;
	margin-top: 5%;
	font-family: 'Lato', sans-serif;
}
.about-card a {
	color: orange;
  }
.contact-card {
	margin-top: 10%;
	background-color: rgba(92,78,71, 0.8);
	color: white;
	font-family:  'Lato', sans-serif;
	padding: 20px;
	display:block; 
	width: 80%;
  }
.contact-card a{
	color: yellow;
  }
.info-card {
	width: 75%;
	margin-top: 10%;
	color:white;
	padding: 5%;
	background-color: rgba(92,78,71, 0.8);
  }
.info-card a {
	color: yellow;
  }
.info-card hr {
	width: 75%;
	color: white;
  }
.info-card th, .info-card td, .info-card table, .about-card th, .about-card td, .about-card table {
	border: 1px dashed orange;
	border-collapse: collapse;
  }
.info-card  tr > td, .about-card  tr > td {
	width: 50%;
	padding: 5px;
  }
.info-card p, .info-card li {
	text-align: left;
  }
  
.info-card table, .about-card table {
	text-align: center;
	width: 90%;
  }
.info-card img {
	width: 95%;
  }