.top{
	background: url(../images/general/bgTop.jpg)
}
#menu{
	//margin-top: 33px;
	margin-top: 33px;
	float: right;
}
#logo{
	margin-top: 33px;
	margin-bottom: 33px;
}
#menu li{
	 -moz-osx-font-smoothing: grayscale;
	 -webkit-font-smoothing: antialiased;
	 border-right:2px solid #000;
	 padding-left: 17px;
	 padding-right: 16px;
	 float: left;
	 font-family: 'Roboto', 'sans-serif';
	 font-size:14px;
	 color:#fff;
	 list-style:none;
	 text-transform:uppercase;
	 font-weight:900;
}
#menu li a{
	color:#fff;
	text-decoration:none;
}
.dropbtn {
  background-color: Transparent;
  color: white;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color:;
  min-width: 160px;
  box-shadow:;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 2px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color:}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color:;}
#page{
	text-align: center;
}
.bottom{
	color: #000;
	background-color: navajowhite;
}